input {
  width: 100%;
  padding: 12px 15px;
  background-color: white;
  font-size: 16px;
  border: 2px solid #e0e0e0;
  border-radius: 0.5rem;
  margin-top: 8px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

label {
  font-size: 1em;
}

.wrapper-input-custom {
  background-color: white;
}

p {
  color: rgb(219, 14, 14);
}

.inputerrors {
  border: 2px solid rgb(219, 14, 14) !important;
}
