<main>
  <div class="wrapper-parent">
    <div class="wrapper-top">
      <form [formGroup]="form" style="width: 30%; height: 100%">
        <input-custom formControlName="search" placeholder="Buscar..." />
      </form>
      <div style="width: max-content">
        <button-custom
          label="Agregar"
          [onClick]="onClickButton"
          [style]="{ padding: '1rem 1.3rem 1rem 1.3rem' }"
        ></button-custom>
      </div>
    </div>

    <div class="wrapper">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de restauración</th>
          </tr>
        </thead>
        <tbody>
          @if (this.productStore.status() === "Loading") {
          <span>Cargando...</span>
          } @else if (this.productStore.status() === "Loaded") { @for (item of
          this.productStore.productsList(); track $index) {
          <tr>
            <td>
              {{ item.logo }}
            </td>
            <td>
              {{ item.name }}
            </td>
            <td>
              {{ item.description }}
            </td>
            <td>
              {{ item.date_release }}
            </td>
            <td>
              {{ item.date_revision }}
            </td>
            <td>
              <action-popper [id]="'popper_' + $index">
                <option (click)="onSubmitUpdate(item)" value="">
                  Actualizar
                </option>
                <option (click)="onOpenRemoveId(item)" value="">
                  Eliminar
                </option>
              </action-popper>
            </td>
          </tr>
          } }
        </tbody>
      </table>
    </div>
  </div>
</main>

<modal [isOpen]="modalIsOpen" (close)="closeModal()">
  <div class="content-delete-product">
    <p class="title-delete-product">
      ¿Estás seguro de eliminar el producto
      {{ productStore.productIndividual()?.name }}?.
    </p>
    <div class="content-delete-product-footer">
      <div style="width: 40%">
        <button-custom
          label="Cancelar"
          [onClick]="closeModal"
          [style]="{
            padding: '1rem 1.3rem 1rem 1.3rem',
            background: '#eaecf2'
          }"
        ></button-custom>
      </div>
      <div style="width: 40%">
        <button-custom
          label="Confirmar"
          [onClick]="onSubmitDelete"
          [style]="{ padding: '1rem 1.3rem 1rem 1.3rem' }"
        ></button-custom>
      </div>
    </div>
  </div>
</modal>
