main {
  width: 100%;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
}

option {
  padding: 0.5rem;
  filter: brightness(0.7);
}

option:hover {
  background-color: #f5df66;
  filter: brightness(1);
}

.wrapper-parent {
  min-width: 400px;
  width: max-content;
}

.wrapper-top {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  padding: 0.5rem 2rem 4rem 2rem;
  min-width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 100%;
  font-size: 0.9em;
  padding: 20rem;
}

.styled-table thead {
  background-color: #f4f6f9;
}

.styled-table thead tr {
  background-color: #f4f6f9;
  color: black;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 1.2rem;
  text-align: center;
}

.styled-table tbody tr td {
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}

.content-delete-product-footer {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title-delete-product {
  margin-top: 1rem;
}

.footer-table {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

select {
  width: 60px;
  padding: 0.5rem 0.3rem 0.5rem 0.6rem;
}

.controls-pagination {
  gap: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
