<main>
  <div class="wrapper-parent">
    <div class="wrapper-top">
      <form [formGroup]="form" style="width: 30%; height: 100%">
        <input-custom formControlName="search" placeholder="Buscar..." />
      </form>
      <div style="width: max-content">
        <button-custom
          label="Agregar"
          [onClick]="onClickButton"
          [style]="{ padding: '1rem 1.3rem 1rem 1.3rem' }"
        ></button-custom>
      </div>
    </div>

    <div class="wrapper">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de restauración</th>
          </tr>
        </thead>
        <tbody>
          @if (this.productStore.status() === "Loading") {
          <span>Cargando...</span>
          } @else if (this.productStore.status() === "Loaded") { @for (item of
          this.productStore.productsList(); track $index) {
          <tr>
            <td>
              {{ item.logo }}
            </td>
            <td>
              {{ item.name }}
            </td>
            <td>
              {{ item.description }}
            </td>
            <td>
              {{ item.date_release }}
            </td>
            <td>
              {{ item.date_revision }}
            </td>
          </tr>
          } }
        </tbody>
      </table>
    </div>
  </div>
</main>
