<main>
  <div class="wrapper-form">
    <div class="header-form">
      <h2>Formulario de registro</h2>
    </div>
    <form [formGroup]="form">
      <input-custom label="ID" formControlName="id"> </input-custom>
      <input-custom label="Nombre" formControlName="name"></input-custom>
      <input-custom
        label="Descripción"
        formControlName="description"
      ></input-custom>
      <input-custom label="Logo" formControlName="logo"></input-custom>
      <!-- <input-custom
        label="Fecha Liberación"
        name=""
        placeholder="Buscar..."
        type="date"
      />
      <input-custom
        label="Fecha Revisión"
        type="date"
        [isDisable]="true"
        placeholder="Buscar..."
      /> -->
    </form>

    <div class="footer-form">
      <div style="width: max-content">
        <button-custom
          label="Reiniciar"
          [style]="{
            padding: '1rem 1.3rem 1rem 1.3rem',
            background: '#eaecf2'
          }"
        ></button-custom>
      </div>
      <div style="width: max-content">
        <button-custom
          [onClick]="onSubmit"
          label="Enviar"
          [style]="{ padding: '1rem 1.3rem 1rem 1.3rem' }"
        ></button-custom>
      </div>
    </div>
  </div>
  <div style="width: max-content; margin-top: 1rem">
    <button-custom
      [onClick]="onClick"
      label="Volver al listado de productos"
      [style]="{ padding: '1rem 1.3rem 1rem 1.3rem' }"
    ></button-custom>
  </div>

  <code>
    <pre>{{ this.productStore.formProducts | json }}</pre>
  </code>
</main>
