<main>
  <div class="wrapper-form">
    <div class="header-form">
      <h2>
        @if (formUpdateActive) { Formulario de actualización}@else { Formulario
        de registro }
      </h2>
    </div>
    <form [formGroup]="form">
      <input-custom
        label="ID"
        formControlName="id"
        [isDisabled]="formUpdateActive"
        [onBlur]="onBlur"
        errors="{{ errorsId }}"
      >
      </input-custom>
      <input-custom
        label="Nombre"
        formControlName="name"
        errors="{{ errorsName }}"
      ></input-custom>
      <input-custom
        label="Descripción"
        formControlName="description"
        errors="{{ errorsDescription }}"
      ></input-custom>
      <input-custom
        label="Logo"
        formControlName="logo"
        errors="{{ errorsLogo }}"
      ></input-custom>
      <input-custom
        label="Fecha Liberación"
        formControlName="date_release"
        errors="{{ errorsDateRelease }}"
        [onBlur]="onBlurChangeDateRevision"
        type="date"
      />
      <input-custom
        label="Fecha Revisión"
        type="date"
        formControlName="date_revision"
        [isDisabled]="true"
        placeholder="Buscar..."
      />
    </form>

    <div class="footer-form">
      <div style="width: max-content">
        @if (formUpdateActive) {
        <button-custom
          label="Volver atrás"
          [onClick]="onBack"
          [style]="{
            padding: '1rem 1.3rem 1rem 1.3rem',
            background: '#eaecf2'
          }"
        ></button-custom>
        } @else {
        <button-custom
          label="Reiniciar"
          [onClick]="onReset"
          [style]="{
            padding: '1rem 1.3rem 1rem 1.3rem',
            background: '#eaecf2'
          }"
        ></button-custom>
        }
      </div>
      <div style="width: max-content">
        <button-custom
          [onClick]="onSubmit"
          [isDisabled]="this.form.invalid || this.notRepeatId"
          label="{{ getLabelSend }}"
          [style]="{ padding: '1rem 1.3rem 1rem 1.3rem' }"
        ></button-custom>
      </div>
    </div>
  </div>
  <div style="width: max-content; margin-top: 1rem">
    <button-custom
      [onClick]="onClick"
      label="Volver al listado de productos"
      [style]="{ padding: '1rem 1.3rem 1rem 1.3rem' }"
    ></button-custom>
  </div>
</main>
