main {
  width: 100%;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-form {
  min-width: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-form {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px black solid;
}

form {
  padding: 2rem 1.2rem 1.2rem 2rem;
  background-color: white;
  display: grid;
  max-width: 600px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media screen and (min-width: 800px) {
  form {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.footer-form {
  min-height: 100px;
  padding: 2rem 1rem 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
